@using BeanScene.Components



<div class="container mt-3">
    <h2>Embedded Blazor Component</h2>

    <component type="typeof(BeanScene.Components.ImageGenerator)"
               render-mode="ServerPrerendered" />
</div>